n8n/demo-data/workflows/ingestion.json
{
  "name": "RAG Ingestion — DBS Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "ae99035b-759c-425d-9325-76deafbf995c",
      "name": "Start Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        768,
        112
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "dbs_docs_kb",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1872,
        112
      ],
      "id": "ed6a307a-36b4-43ee-93d9-cd520d7cda42",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "5XDgsOCMrCJEu9kj",
          "name": "Qdrant account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1920,
        336
      ],
      "id": "6b516ab2-123a-4865-a8c8-5e0795e17603",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2000,
        544
      ],
      "id": "6372b561-1fb4-45ac-9b62-2479acacc33e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1792,
        336
      ],
      "id": "4aa518a4-fc03-4ef7-8fc2-3142c9e639c8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "cEQkFJYoGQba0iRy",
          "name": "Ollama cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        112
      ],
      "id": "83ba6f20-cad0-44b3-ba9a-86b8a0f42bc2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        112
      ],
      "id": "66f06f5e-633c-41b8-82d0-6ba92ed23f27",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/dbs-docs/*",
        "options": {
          "fileExtension": "md",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        208
      ],
      "id": "7588da65-82f6-4449-8d49-10cda14a0eb5",
      "name": "DBS docs"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/policies-dbs/*.md",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        16
      ],
      "id": "835bc5fe-f2e5-4cc9-a3e0-5e258d30cc99",
      "name": "DBS md policies",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/policies-dbs/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        -176
      ],
      "id": "af42df79-5e46-467f-8ea3-23f4ef7d8209",
      "name": "DBS pdf policies"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        -176
      ],
      "id": "ed8509bc-c9b2-450e-bdef-86b5278f75c1",
      "name": "Extract from PDF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        112
      ],
      "id": "d34bd195-1217-4f12-9a6d-9ec2ecc79e83",
      "name": "Merge all"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Ingestion": {
      "main": [
        [
          {
            "node": "DBS md policies",
            "type": "main",
            "index": 0
          },
          {
            "node": "DBS docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "DBS pdf policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge all",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DBS docs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DBS md policies": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DBS pdf policies": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Merge all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge all": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "85c4d89c-85c9-4fdd-816e-fada78b88736",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "fhEQpz3AV9WXjb6x",
  "tags": [
    {
      "updatedAt": "2026-03-24T11:08:53.519Z",
      "createdAt": "2026-03-24T11:08:53.519Z",
      "id": "ho0sIbpXIRDz5sLi",
      "name": "RAG"
    },
    {
      "updatedAt": "2026-03-24T11:08:53.522Z",
      "createdAt": "2026-03-24T11:08:53.522Z",
      "id": "GPPalQjPMK4MpkLt",
      "name": "Ingestion"
    }
  ]
}