n8n/demo-data/workflows/ingestion.json
{
  "name": "RAG Ingestion — DBS Docs + Shopify Policies",
  "nodes": [
    {
      "parameters": {},
      "id": "b230fdba-20e3-4044-93ac-99167bf04566",
      "name": "Start Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "dbs_docs_kb",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        704,
        96
      ],
      "id": "459ce0f0-2d31-40df-b37d-462e8ed32258",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "MXRdSQvSDJNhIJo0",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        320
      ],
      "id": "9477a95a-bb9d-4954-b6f4-4ee5d66eb43d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        528
      ],
      "id": "151564f2-f997-4a80-a118-750e6f9b527b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        672,
        320
      ],
      "id": "edf725b2-1d4e-47fe-9b3b-208288e3900d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "lc6VnP59BCXcn4QU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/policies-dbs/*",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e3d859ed-16ca-4e3d-9394-72f1d715ba51",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ],
      "id": "7acefa8b-abb7-43a9-a392-e4acd586be98",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        96
      ],
      "id": "2d8803a9-ba34-44be-a54b-f8c5f37d1057",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/dbs-docs/*",
        "options": {
          "fileExtension": "md",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "b61ed540-7619-4da7-84a4-7fb9d866bb14",
      "name": "DBS docs"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Ingestion": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "DBS docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DBS docs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1d32933c-ad82-4263-9cb9-bd889059e2ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "fhEQpz3AV9WXjb6x",
  "tags": [
    {
      "updatedAt": "2026-03-24T11:08:53.519Z",
      "createdAt": "2026-03-24T11:08:53.519Z",
      "id": "ho0sIbpXIRDz5sLi",
      "name": "RAG"
    },
    {
      "updatedAt": "2026-03-24T11:08:53.522Z",
      "createdAt": "2026-03-24T11:08:53.522Z",
      "id": "GPPalQjPMK4MpkLt",
      "name": "Ingestion"
    }
  ]
}
